doctype html
html(lang='en')
  head
    include ../../includes/head.jade
    script(type='text/javascript').
      var data = null;
      var conn = null;
      var subs = null;
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var channel = !{JSON.stringify(channel)};
        if (channel.title != "") {  // edit
          channel_type = channel.channel_type;
          $("#channel-form").attr("action", '/channels/' + channel._id);
        }
      });

    script(type="text/javascript" src="/js/validate.min.js")

  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        include ../../includes/header.jade
        include ../../includes/sidebar.jade
      // Page Content
      #page-wrapper
        .container-fluid
          .row.page-header
            .col-lg-10
              img.pull-left(src="/images/DebugChannel.png" style="height:60px; margin-right: 25px")
              span
              h1.pull-left
                - if(params.action !== undefined && params.action === 'newChannel')
                  | Creating a new Channel, Step 2: Debug Channel
                - else
                  | Edit #{channel.title}

          .row
            .col-lg-12
              p.description= "Filling the form below you can create a new Debug Channel. Intended for testing purposes, simply it logs received data messages. "

          .row
            .col-lg-12
              .col-md-3
                br
                br
                br

          .row
            .col-lg-12
              .col-md-5.col-centered
                .panel.panel-default
                  .panel-heading
                    | Channel details
                  .panel-body.body

                    form(method="post", action="/channels", id="channel-form" enctype="multipart/form-data", role="form")
                      input(type="hidden", name="channel_type", value="#{channel_type}")
                      - if (!channel.isNew)
                        input(type="hidden", name="_method", value="PUT")

                      .alert.alert-danger.hidden
                      .form-group
                        label Name (required)
                        input.form-control(name="title" placeholder='Enter a name for the Channel' value="#{channel.title}")
                      .form-group
                        label Description
                        textarea.form-control(name="description" rows='3' placeholder='Enter a description') #{channel.description}
                      .form-group
                        label Tags
                        input.form-control(name="tags" placeholder='Enter a list of comma-separated tags' value="#{channel.tags}")
                      button.btn.btn-primary(type='submit') Save
                      | &nbsp;
                      a(href="/channels" role="button").btn.btn-default Cancel

    script(type="text/javascript").
      var validator = new FormValidator('channel-form', [{
        name: 'title',
        display: 'Name',
        rules: 'required|max_length[30]'
      }], function (errors, event) {
        if (errors.length > 0) {
          $('.alert').removeClass('hidden');
          errors.forEach(function (e, i, a) {
            $('.alert').append(e.message + '<br/>');

            setTimeout(function(){
              $('.alert').addClass('hidden');
              $('.alert').text('');
            }, 6000);
          });

        } else {
          $('.alert').addClass('hidden');
          $('.alert').text('');
        }
      });


    include ../../includes/footer.jade
